footer {
	--vertical-padding: 0.25rem;
	--height: calc(var(--line-height) + var(--vertical-padding) * 2);
	--angle-width: calc(var(--angle-width-factor) * var(--height));
	--angle-size: calc(var(--angle-size-factor) * var(--height));
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: 0.75rem;
	padding-inline: 18%;
	text-align: center;
	z-index: 2;

	transition-property: opacity, translate;

	&:is(main[data-interface-hidden="true"] + footer) {
		opacity: 0;
		pointer-events: none;
		translate: 0 100%;
	}

	>ul {
		--vertical-padding: 0.25rem;
		--height: calc(var(--line-height) * 2 + var(--vertical-padding) * 2);
		--angle-width: calc(var(--angle-width-factor) * var(--height));
		--angle-size: calc(var(--angle-size-factor) * var(--height));
		--margin: calc(var(--angle-width) / 2);
		display: flex;
		flex-direction: row;
		flex: 1;
		text-transform: uppercase;
		/* margin-left: calc(var(--margin) * -1);
    margin-right: var(--margin); */
	}

	>ul>li {
		--color: var(--blue);
		position: relative;
		flex: 1;
		text-align: center;
		padding: var(--vertical-padding) calc(0.5rem + var(--margin) * 2);
		color: var(--white);
		background-color: var(--color);
	}

	>ul>li:first-of-type {
		border-start-start-radius: 100rem;
		border-end-start-radius: 100rem;
	}

	>ul>li:nth-of-type(2) {
		--color: var(--green);
	}

	>ul>li:nth-of-type(3) {
		--color: var(--yellow);
	}

	>ul>li:nth-of-type(4) {
		--color: var(--red);
		--progress: 0;
	}

	>ul>li:last-of-type {
		border-start-end-radius: 100rem;
		border-end-end-radius: 100rem;
	}

	/* >ul>li:nth-of-type(4)::before {
		height: 100%;
		background-color: unset;
		background-image: linear-gradient(to bottom,
				var(--color),
				var(--color) 50%,
				transparent 50%);
	}

	>ul>li:nth-of-type(4)::after {
		width: calc(100% * var(--progress));
		transform: skewX(var(--angle));
		transition-property: width;
	} */

	>ul h2 {
		font-size: inherit;
		font-weight: normal;
	}
}