body>header {
	--line-height: calc(0.75rem * var(--line-height-multiplier));
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.75rem;
	padding-right: 1rem;
	z-index: 2;
	overflow: hidden;

	transition-property: opacity, translate;

	&:has(+main[data-interface-hidden="true"]) {
		opacity: 0;
		pointer-events: none;
		translate: 0 -100%;
	}

	h1 {
		--horizontal-padding: 1rem;
		--vertical-padding: 1rem;
		--logo-width: calc(var(--logo-horizontal-ratio) * var(--logo-horizontal-height));
		--height: calc(var(--logo-horizontal-height) + var(--vertical-padding) * 2);
		--angle-width: calc(var(--angle-width-factor) * var(--height));
		--angle-size: calc(var(--angle-size-factor) * var(--height));
		--width: calc(var(--logo-width) + var(--horizontal-padding) * 2 + var(--angle-width) / 2);
		position: relative;
		flex: 0 0 auto;
		width: var(--width);
		height: var(--height);
		text-align: left;
		transition-property: none;
		padding: var(--vertical-padding) var(--horizontal-padding);
		text-indent: -100vw;
		z-index: 10;
	}

	h1::before {
		content: " ";
		position: absolute;
		display: block;
		width: var(--logo-width);
		height: var(--logo-horizontal-height);
		top: 50%;
		left: var(--horizontal-padding);
		background-image: var(--logo-horizontal-image-white);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: var(--logo-position);
		transform: translateY(-50%);
	}

	h1::after {
		content: " ";
		position: absolute;
		display: block;
		width: 150%;
		height: 100%;
		top: 0;
		left: -50%;
		background-color: var(--black);
		transform: skewX(var(--angle));
		z-index: -1;
	}

	p {
		--space: 2em;
		position: absolute;
		padding: 0.5em var(--space);
		font-size: 120%;
		white-space: nowrap;
		color: var(--white);
		background: var(--black);
		border-radius: 100em;
		filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.5));
		animation-name: header-marquee;
		animation-composition: add;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 40s;
		animation-delay: 10s;
		/* Animation base values */
		left: 100vw;
		translate: 0;

		&::before,
		&::after {
			content: "🦝";
			display: inline-block;
			vertical-align: bottom;
			font-size: 120%;
			padding-inline-end: 1em;
		}

		&::after {
			padding-inline-end: 0;
			padding-inline-start: 1em;
		}
	}
}

@keyframes header-marquee {
	0% {
		left: 0;
		translate: 0;
	}

	100% {
		left: -100vw;
		translate: -100% 0;
	}
}