body > header {
	--line-height: calc(0.75rem * var(--line-height-multiplier));
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.75rem;
	padding-right: 1rem;
	z-index: 2;
}

h1 {
	--horizontal-padding: 1rem;
	--vertical-padding: 1rem;
	--logo-width: calc(
		var(--logo-horizontal-ratio) *
		var(--logo-horizontal-height)
	);
	--height: calc(var(--logo-horizontal-height) + var(--vertical-padding) * 2);
	--angle-width: calc(var(--angle-width-factor) * var(--height));
	--angle-size: calc(var(--angle-size-factor) * var(--height));
	--width: calc(
		var(--logo-width) +
		var(--horizontal-padding) *
		2 +
		var(--angle-width) /
		2
	);
	position: relative;
	flex: 0 0 auto;
	width: var(--width);
	height: var(--height);
	text-align: left;
	transition-property: none;
	padding: var(--vertical-padding) var(--horizontal-padding);
	text-indent: -100vw;
	z-index: 10;
}

h1::before {
	content: " ";
	position: absolute;
	display: block;
	width: var(--logo-width);
	height: var(--logo-horizontal-height);
	top: 50%;
	left: var(--horizontal-padding);
	background-image: var(--logo-horizontal-image-white);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: var(--logo-position);
	transform: translateY(-50%);
}

h1::after {
	content: " ";
	position: absolute;
	display: block;
	width: 150%;
	height: 100%;
	top: 0;
	left: -50%;
	background-color: var(--black);
	transform: skewX(var(--angle));
	z-index: -1;
}

body > header > ul {
	--vertical-padding: 0.25rem;
	--height: calc(var(--line-height) * 2 + var(--vertical-padding) * 2);
	--angle-width: calc(var(--angle-width-factor) * var(--height));
	--angle-size: calc(var(--angle-size-factor) * var(--height));
	--margin: calc(var(--angle-width) / 2);
	display: flex;
	flex-direction: row;
	flex: 1;
	text-transform: uppercase;
	/* margin-left: calc(var(--margin) * -1);
    margin-right: var(--margin); */
}

body > header > ul > li {
	--color: var(--blue);
	position: relative;
	flex: 1;
	text-align: center;
	padding: var(--vertical-padding) calc(0.5rem + var(--margin) * 2);
	/* margin: 0 calc(var(--margin) * -1); */
	color: var(--white);
}

body > header > ul > li::before,
body > header > ul > li::after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: skewX(var(--angle));
	background-color: var(--color);
	z-index: -1;
}

body > header > ul > li:nth-of-type(2) {
	--color: var(--green);
}

body > header > ul > li:nth-of-type(3) {
	--color: var(--yellow);
}

body > header > ul > li:nth-of-type(4) {
	--color: var(--red);
	--progress: 0;
}

body > header > ul > li:nth-of-type(4) {
	--color: var(--red);
	--progress: 0;
}

body > header > ul > li:nth-of-type(4)::before {
	height: 100%;
	background-color: unset;
	background-image: linear-gradient(
		to bottom,
		var(--color),
		var(--color) 50%,
		transparent 50%
	);
}

body > header > ul > li:nth-of-type(4)::after {
	width: calc(100% * var(--progress));
	transform: skewX(var(--angle));
	transition-property: width;
}

body > header > ul h2 {
	font-size: inherit;
	font-weight: normal;
}
