@import url('css/font.css');

*,
*::before,
*::after {
	box-sizing: border-box;
	transition-duration: 300ms;
	transition-property: none;
	transition-timing-function: ease-in-out;
	margin: 0;
	padding: 0;
	color: inherit;
	list-style: none;
	font-size: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

:root {
	--green-data: 87, 192, 179;
	--green-pulse-data: 56, 149, 137;
	--green-pulse-hover-data: 42, 111, 102;
	--green: rgb(var(--green-data));
	--blue-data: 112, 203, 242;
	--blue-pulse-data: 25, 172, 234;
	--blue: rgb(var(--blue-data));
	--yellow-data: 246, 194, 139;
	--yellow: rgb(var(--yellow-data));
	--yellow-pulse-data: 239, 144, 44;
	--red-data: 242, 122, 134;
	--red-pulse-data: 233, 34, 54;
	--red: rgb(var(--red-data));
	--primary-color-data: 18, 105, 237;
	--primary-color-hover-data: 13, 77, 174;
	--primary-color-opacity: 1;
	--primary-color: rgba(var(--primary-color-data), var(--primary-color-opacity));
	--primary-color-hover: rgb(var(--primary-color-hover-data));
	--secondary-color-data: 56, 149, 137;
	--secondary-color-hover-data: 42, 111, 102;
	--disabled-opacity: 0.3;
	--white-primary-color-disabled: #D0E1FB;
	--black-primary-color-disabled: #1c2f50;
	--light-primary-color-disabled: #D0E1FB;
	--dark-primary-color-disabled: #1c2f50;
	--black-data: 30, 35, 44;
	--black: rgb(var(--black-data));
	--white-data: 255, 255, 255;
	--white: white;
	--text-opacity: 1;
	--text-color-data: var(--background-contrast-color-data);
	--text-contrast-color-data: var(--background-color-data);
	--primary-color-disabled: var(--light-primary-color-disabled);
	--invert-primary-color-disabled: var(--dark-primary-color-disabled);
	--background-image: url("../img/fond.svg");
	--font-size: 1.25rem;
	--line-height-multiplier: calc(3 / 2);
	--line-height: calc(var(--font-size) * var(--line-height-multiplier));
	--title-font-size-multiplier: 2;
	--title-font-size: calc(var(--font-size) * var(--title-font-size-multiplier));
	--title-line-height-multiplier: 1.3;
	--title-line-height: calc(var(--title-font-size) * var(--title-line-height-multiplier));
	--title-size: calc(var(--title-font-size) / 0.5rem);
	--title-max-width-multiplier: 16;
	--text-max-width-multiplier: 18;
	--title-max-width: calc(var(--title-max-width-multiplier) * var(--title-font-size));
	--text-max-width: calc(var(--text-max-width-multiplier) * var(--title-font-size));
	--image-space: 8rem;
	--button-size: 4;
	--seprataion-size: 2;
	--nav-seprataion-size: 4;
	--vertical-padding-small-multiplier: 1;
	--vertical-padding-medium-multiplier: 1.5;
	--vertical-padding-big-multiplier: 2;
	--horizontal-padding-small-multiplier: 2;
	--horizontal-padding-medium-multiplier: 3;
	--horizontal-padding-big-multiplier: 3;
	--button-height: calc(var(--line-height) + var(--vertical-padding-small-multiplier) * 0.5rem * 2);
	--top-padding: 6;
	--bottom-padding: 5;
	--section-padding-top: 6;
	--section-padding-bottom: 6;
	--logo-horizontal-image-black: url("img/logo/horizontal-black.svg");
	--logo-vertical-image-black: url("img/logo/vertical-black.svg");
	--logo-horizontal-image-white: url("img/logo/horizontal-white.svg");
	--logo-vertical-image-white: url("img/logo/vertical-white.svg");
	--logo-horizontal-image: var(--logo-horizontal-image-black);
	--logo-vertical-image: var(--logo-vertical-image-black);
	--logo-position: 50%;
	--logo-horizontal-ratio: 3.646153846153846;
	--logo-horizontal-height: var(--button-height);
	--logo-vertical-height: 5rem;
	--logo-height: var(--logo-vertical-height);
	--lenra-bar-gradient: var(--green), var(--green) 25%, var(--yellow) 25%, var(--yellow) 50%, var(--red) 50%, var(--red) 75%, var(--blue) 75%, var(--blue);
	--lenra-bar-width: 0.25rem;

	/* Angle */
	--angle: -30deg;
	--reverse-angle: calc(-1 * var(--angle));
	--background-angle: calc(90deg + var(--angle));
	--background-reverse-angle: calc(var(--background-angle) - 2 * var(--angle));
	/* tan gets the horizontal width */
	/* --angle-width-factor: tan(var(--angle)); */
	--angle-width-factor: 0.57735026919;
	/* cos gets the distance to the corner */
	/* --angle-size-factor: calc(cos(var(--angle)) * var(--angle-width-factor)); */
	--angle-size-factor: calc(0.86602540378 * var(--angle-width-factor));

	font-size: 2vh;
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--black);
	z-index: 1;

	& * {
		opacity: 0;
		transition-property: opacity;
	}
}

dialog {
	font-size: 2rem;
	margin: auto;
}

video {
	position: absolute;
	aspect-ratio: 16 / 9;
	width: 0%;
	height: 0%;
	transition-property: height, width, top, left, bottom, right, opacity;

	&#camera {
		width: auto;
		bottom: 0%;
		right: 0%;
		z-index: 10;

		&:is([data-scene="camera-screen"] video) {
			height: 15%;
			opacity: 1;
		}

		&:is([data-scene="camera"] video) {
			height: 100%;
			opacity: 1;
		}
	}

	&#screen {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:is([data-scene*="screen"] video) {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
}

#startMessage {
	position: absolute;
	font-size: 4rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;

	&:is([data-scene="start"] p) {
		opacity: 1;
	}
}
